

<main class="mx-auto col-3 p-2 bg-success border shadow-lg my-3 rounded text-light ">
    <p>Id : {{userInfo.id}} </p>
    <p>UserName : {{userInfo.userName}} </p>
    <p>Email : {{userInfo.email}} </p>
    <p>Gender : {{userInfo.gender}} </p>


</main>
//ANGULAR PIPE
<H2>Curency Pipe</H2>
<h2>{{3000 |  currency: "EUR"}}</h2>
<h2>{{3000 |  currency: "USD"}}</h2>
<H2>Date Pipe</H2><br><hr>

<h3>{{date | date:"shortDate"}}</h3>
<h3>{{date | date:"mediumDate"}}</h3>
<h3>{{date | date:"longDate"}}</h3>

<H2>Percentage Pipe</H2><br><hr>


<h3>{{0.25 | percent}}</h3>
<h3>{{0.50 | percent}}</h3>
<h3>{{0.75 | percent}}</h3>
<h3>{{1 | percent}}</h3>

<h2>Deicma pipe</h2><hr><br>
<h2>{{3.55548765 | number}}</h2>