<p>home works! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis dolores facilis, placeat iure perferendis ducimus repudiandae, odio temporibus vitae sint exercitationem corporis pariatur, ab id! Sunt aliquam necessitatibus perferendis explicabo.</p>

<h1 class="text-red-500 bg-black">welcome {{name}}</h1>



<button (click)="doSomething()">Click me</button>
<input (input)="typeSomething($event)" type="text" class="bg-red-300 ">
<p class="bg-blue-400 text-black">{{myText}}</p>



    <h2>Todo </h2>
    <input type="text" [(ngModel)]="myText" class="bg-blue-600 py-2" name="" id="">
       <button (click)="addUser()" >Add</button> 
       <div *ngFor="let user of allUsers; index as i">
        <h1>{{i + 1}} {{user}} <button class="btn btn-blue-300" (click)="delItem(i)">&times;</button> <button class="btn btn-blue-300" (click)="editItem(i)">edit</button></h1>
    </div>




